
os: osx

before_install:
    - brew update
    - brew install gcc
    - brew install cmake

before_script:
    - mkdir build
    - cd build
    - cmake ..
  
script:
    - make 
    # Run your build commands next